
# Links for Android 14.0 onward

# /go/android/X.Y/download-keyboards/languages"
RedirectMatch "/go/android/([1-9][0-9]\.[0-9])/download-keyboards/languages/(.*)" "/keyboards/languages/$2?embed=android&amp;embed_version=$1"

# "/go/android/X.Y/download-keyboards"
RedirectMatch "/go/android/([1-9][0-9]\.[0-9])/download-keyboards" "/keyboards?embed=android&amp;embed_version=$1"
