/**************************************
 * CSS RESET
 * ***********************************/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html{
    font-family: 'Cabin', sans-serif;
    /*font-family: 'Source Sans Pro', sans-serif;*/
}

/**************************************
 * Page Layout CSS
 * ***********************************/

html{
    cursor: default;
    background: #F2F2F2;
}

.wrapper{
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.button{
    float: left;
    width: 200px;
    height: 40px;
    line-height: 40px;
    border-radius: 6px;
    text-align: center;
    margin: 20px;
    cursor: pointer;
    box-shadow: 1px 1px 2px #3e3e3e;
}

.button a{
    text-decoration: none;
}

.button h2{
    color: #fff;
}

#container{
	min-height: 100%;
	width: 100%;
}

.main{
	float: left;
	width: 100%;
}

.valign-outer{
	height: 100%;
	width: 100%;
	overflow: hidden;
	display: table;
	position: static;
}

.valign-middle{
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	position: static;
}

/**********************************
 * HEADER CSS
 *********************************/

.header{
    float: left;
    width: 100%;
    background: #fff;
    display: block;
}

#show-phone-menu{
	display: none;
}

#logo{
    margin-left: 30px;
    float: left;
}

#header-bottom{
    width: 100%;
    height: 8px;
    display: block;
}

#help{
	width: 130px;
	position: absolute;
	top: 35px;
	left: 100%;
	margin-left: -130px;
	text-decoration: none;
}

#help p{
	float: left;
	font-size: 14pt;
	color: #000;
	vertical-align: top;
	text-decoration: none;
}

#help img{
	float: left;
	margin-left: 10px;
}

/**************************************
 * TOP MENU 1 CSS
 * ***********************************/

#top-menu1{
	float: left;
	width: 100%;
	height: 50px;
	background: #fff;
	position: relative;
	z-index: 2;
	top: -8px;
	padding-top: 12px;
}

#top-menu-icon{
	float: left;
	position: absolute;
	top: 13px;
	left: 30px;
	display: none;
}

#top-menu-icon2{
	float: left;
	position: absolute;
	top: 25px;
	left: 100%;
	margin-left: -57px;
	display: none;
}

#top-menu1 .menu-item{
	float: left;
	width: 192px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	overflow-y: visible;
}

#top-menu1 .menu-item:hover, #top-menu1 .menu-item img:hover{
	cursor: pointer;
	color: #B92034;
}

#top-menu1 .menu-item:hover h3{
	text-decoration: underline;
}

#top-menu1 .menu-item:hover{
	background: #f2f2f2;
	box-shadow: 1px 1px 4px #000;
	position: relative;
	z-index: 2;
}

#top-menu1 .menu-item:hover .menu-item-dropdown{
	display: block !important;
}

#top-menu1 .menu-item:hover .header-triangle img{
	background: url('../img/triangle.png') 17px 0;
}

#top-menu1 .menu-item a{
	color: #000;
	text-decoration: none;
}

#top-menu1 .menu-item h3{
	font-weight: 600;
}

.header-triangle img{
	margin-left: 5px;
	height: 9px;
	width: 17px;
	background: url('../img/triangle.png') 0 0;
}

#top-menu1 .menu-item .menu-item-sub{
	float: left;
	width: 50%;
}

#cart{
	text-align: right;
}

#store:hover h3{
	text-decoration: none !important;
}

#cart img{
	margin-right: 5px;
	position: relative;
	top: 2px;
	width: 22px;
	height: 17px;
	background: url('../img/cartsprite.png') 0 0;
}

#cart img:hover{
	background: url('../img/cartsprite.png') 22px 0;
}

#buy{
	text-align: left;	
}

#buy h3{
	margin-left: 5px;
}

#buy h3:hover{
	color: #B92034;
	text-decoration: underline !important;
}

#store:hover{
	box-shadow: none !important;
	background: none !important;
}

#top-menu-bottom{
    width: 100%;
    height: 8px;
    display: block;
}

.menu-item-dropdown{
	width: 240px;
	position: relative;
	left: -5px;
	z-index: 3;
	display: none;
	text-align: left;
	padding: 0px 5px 5px 5px;
	overflow: hidden;
}

.menu-dropdown-inner{
	width: 240px;
	background: #f2f2f2;
	margin-bottom: 10px;
	padding-bottom: 10px;
	box-shadow: 1px 1px 4px #000;
}

.menu-item-dropdown h4{
	color: #000;
	border-bottom: 1px solid #000;
	margin: 0px 10px;
	padding-top: 10px;
	font-weight: 600;
	line-height: 1.5em;
}

.menu-item-dropdown h4:first-child{
	border-top: none;
}

.menu-item-dropdown form{
	width: 100%;
	height: 30px;
	padding: 10px 0px;
}

#language-search{
	float: left;
	width: 139px;
	height: 28px;
	border-radius: 0px;
	border: solid 1px gray;
	margin-left: 10px;
	padding-left: 10px;
}

#search-submit{
	float: left;
	position: relative;
	left: -1px;
}

.menu-item-dropdown ul li{
	padding: 0px 10px;
	text-align: left;
	line-height: 1.8em;
}

.menu-item-dropdown ul li a{
	color: #B92034 !important;
	font-weight: 500;
}

.menu-item-dropdown ul li a:hover{
	text-decoration: underline !important;
}

#phone-menu{
	display: none;
}

/**********************************
 * FOOTER CSS
 *********************************/

.footer{
    float: left;
    width: 100%;
    height: 320px;
    background: #A4A8AB;
}

.footer-third{
    float: left;
    width: 320px;
    height: 200px;
    margin-left: 80px;
    margin-right: 80px;
}

.footer-third-title{
    margin-top: 30px;
    text-align: center;
    font-size: 18pt;
    color: #fff;
    margin-bottom: 25px;
}

.footer-third form{
    width: 320px;
}

.footer-third form input{
	-webkit-appearance: none;
	padding: 0px;
    float: left;
    height: 38px;
    width: 200px;
    padding-left: 10px;
    font-size: 14pt;
    border-radius: 6px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    box-shadow: none;
    border: 1px solid #FFFFFF;
    margin-left: 10px;
}

.footer-third form input:focus{
    outline: 0;
}

.subscribe{
    width: 90px;
    margin: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    background: #666666;
    box-shadow: none;
}
.subscribe:hover{
    background: #888888;
}
.footer-third img{
    float: left;
    width: 80px;
    height: 50px;
    margin-top: -5px;
}

.tavultesoft a, .tavultesoft a:visited {
  color: white;
  text-decoration: none;
}

.tavultesoft a:hover {
  color: white;
  text-decoration: underline;
}

#facebook{
    margin-left: 40px;
}

#facebook, #twitter, #blog{
	opacity: 1;
}

#facebook:hover, #twitter:hover, #blog:hover{
	opacity: 0.5;
}

.tavultesoft{
    width: 320px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.tavultesoft p{
    color: #fff;
    font-size: 12pt;
    margin-top: 10px;
}

/**********************************
 * SECTION 1 CSS
 *********************************/

.section1{
	float: left;
	width: 100%;
	height: 420px;
	background: #000000;
	background-repeat:no-repeat;
	background-size: 100% auto;
	display: inline;
}

#section1-bgfamily{
	background-image: url('../img/main-family-big.jpg');
}

#section1-bgwater{
	background-image: url('../img/waterbg.png');
}

#section1-bgleaf{
	background-image: url('../img/leafbg.jpg');
}

#sect1-title{
	float: left;
	width: 40%;
	height: 420px;
}

#sect1-title h1{
	font-size: 44pt;
	line-height: 1.2em;
	color: #fff;
	padding: 40px;
	text-shadow: 1px 1px 3px #000;
}

#sect1-title a{
	text-align: center;
	display: block;
	position: relative;
	top: -25px;
}

#sect1-image{
	float: left;
	width: 60%;
	height: 420px;
	text-align: center;
}

#sect1-image img{
	padding: 0px;
}

/**********************************
 * SECTION 2 CSS
 *********************************/

#section2{
	float: left;
	width: 100%;
	margin-bottom: 30px;
	display: inline;
}

#section2 h2{
	font-size: 20pt;
	line-height: 1.2em;
	padding: 40px 10px 10px 10px;
}

#section2 h3{
	font-size: 14pt;
	font-weight: 600;
	padding: 0px 10px 10px 10px;
}

#section2 p{
	padding: 0px 10px 10px 10px;
	line-height: 1.2em;
	font-size: 14pt;
}

#section2 p a{
	color: #B92034;
	text-decoration: underline;
	cursor: pointer;
	font-weight: 600;
	line-height: 1.2em;
}

#section2 li{
	padding: 0px 10px;
	margin-left: 10px;
	list-style: disc;
	list-style-position: inside;
	line-height: 1.5em;
}

/**********************************
 * PHONE MENU CSS
 *********************************/

#show-phone-menu{
	display: none;
	float: left;
	margin: 10px;
	position: relative;
	z-index: 6;
}
#phone-menu{
	position: fixed;
	top: 49px;
	left: 0px;
	z-index: 5;
	width: 80%;
	height: 100%;
}
#phone-menu-inner{
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	padding-bottom: 40%;
	-webkit-overflow-scrolling:touch;
	border-right: solid 4px #C1C1C1;
	background: #f2f2f2;
}
.phone-menu-item{
	float: left;
	width: 100%;
	height: auto;
	padding: 10px 0px;
	background: #fff;
}
.phone-menu-item:last-child{
	margin-bottom: 60px;
}
.phone-menu-item h3{
	font-size: 14pt;
	font-weight: bold;
	margin: 0px 10px;
	border-bottom: solid 1px #000;
}
.phone-menu-item form{
	margin-top: 10px;
}
#language-search2{
	float: left;
	width: 144px;
	height: 30px;
	margin-left: 10px;
	border-radius: 0px;
	border: solid 1px gray;
	padding: 0px;
	padding-left: 10px;
	font-size: 12pt;
}
#search-submit2{
	float: left;
	position: relative;
	left: -1px;
	border-radius: 0px;
}
.phone-menu-item ul{
	padding: 10px;
}
.phone-menu-item ul li{
	line-height: 1.8em;
}
.phone-menu-item ul li a{
	text-decoration: underline;
	color: #B92034;
}

/**************************************
 * TABLET CSS
 * ***********************************/

@media only screen and (min-width: 768px) and (max-width: 1024px){
	.wrapper{
		width: 740px;
	}
	/* Header */
	.header{
		position: fixed;
	}
	#top-menu1 .menu-item{
		width: 148px;
	}
	#top-menu1 .menu-item h3{
		font-size: 10pt;
	}
	#logo{
		margin-bottom: 15px;
	}
	/* Footer */
	.footer-third{
		width: 370px;
		margin-left: 0px;
		margin-right: 0px;
	}
	/* Section 1 */
	.section1{
		margin-top: 80px;
	}
	#sect1-title h1{
		font-size: 36pt;
	}
	#sect1-image img{
		width: 90%;
	}
	/* Phone Menu */
	#top-menu1{
		display: none;
	}
	#show-phone-menu{
		display: block;
		margin-top: 28px;
	}
	#phone-menu{
		top: 81px;
		width: 40%;
	}
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait){
	#sect1-title h1{
		text-align: center;
		font-size: 28pt;
	}
}

/* 7 inch */
@media all and (min-width: 600px) and (max-width: 768px){
	.wrapper{
		width: 580px;
	}
	/* Header */
	#top-menu1 .menu-item{
		width: 116px;
	}
	#top-menu1 .menu-item h3{
		font-size: 8pt;
	}
	/* Footer */
	.footer-third{
		width: 290px;
		margin-left: 0px;
		margin-right: 0px;
	}
	.footer-third form{
		width: 290px;
	}
	.footer-third form input{
		width: 170px;
	}
	#facebook{
		margin-left: 20px;
	}
	/* Section 1 */
	#sect1-title h1{
		font-size: 28pt;
		text-align: center;
	}
	#sect1-image img{
		width: 90%;
	}
	/* Phone Menu */
	#show-phone-menu{
		display: block;
	}
}




/**************************************
 * PHONE CSS
 * ***********************************/

@media all and (min-width: 10px) and (max-width: 600px){
	.wrapper{
		width: 320px;
	}
	/* Header */
	.header{
		position: fixed;
	}
	#top-menu1{
		display: none;
	}
	#help{
		display: none;
	}
	.header{
		height: 49px !important;
	}
	#logo{
		margin-top: 3px;
		width: 125px;
		position: fixed;
		left: 50%;
		margin-left: -62px;
	}
	/* Footer */
	.footer{
		height: auto;
	}
	.footer-third{
		margin-left: 0px;
		margin-right: 0px;
		height: auto;
	}
	.tavultesoft{
		float: left;
		margin-top: 40px;
		margin-bottom: 20px;
	}
	.tavultesoft img{
		display: none;
	}
	/* Section 1 */
	.section1{
		margin-top: 57px;
		height: auto;
		background-size: auto 100%;
	}
	#sect1-image{
		width: 100%;
		height: auto;
	}
	#sect1-image img{
		width: 80%;
		height: auto;
		padding-bottom: 10px;
	}
	#sect1-title{
		width: 100%;
		height: auto;
	}
	#sect1-title h1{
		font-size: 24pt;
		text-align: center;
		padding: 20px 10px 0px 10px;
	}
	#sect1-title a{
		display: none;
	}
	/* Phone Menu */
	#show-phone-menu{
		display: block;
	}
}

/* Landscape mode */
@media all and (min-width: 480px) and (max-width: 600px) and (orientation: landscape){
	.wrapper{
		width: 460px;
	}
	/* Header */
	/* Footer */
	.footer-third{
		margin-left: 70px;
		margin-right: 70px;
	}
	.tavultesoft{
		margin-left: 70px;
	}
	/* Section 1 */
}

