<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <urlCompression doDynamicCompression="true" />
        <staticContent>
            <remove fileExtension=".json" />
            <mimeMap fileExtension=".json" mimeType="application/json; charset=utf-8" />
        </staticContent>

        <rewrite>
            <rules>
                <clear />

                <rule name="Redirect http://keyman.com and http://www.keyman.com to https://keyman.com" stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <add input="{HTTPS}" pattern="off" ignoreCase="true" />

                        <!-- Redirect only if on a live site - keyman.com or www.keyman.com -->
                        <add input="{HTTP_HOST}" pattern="^(keyman\.com|www\.keyman\.com)$" ignoreCase="true" />

                        <!-- Redirect unless matching /.well-known/ for Let's Encrypt -->
                        <add input="{REQUEST_URI}" pattern="^/.well-known/(.*)$" negate="true" ignoreCase="true" />
                    </conditions>
                    <action type="Redirect" url="https://keyman.com{REQUEST_URI}" redirectType="Permanent" appendQueryString="false" />
                </rule>


                <rule name="Redirect https://www.keyman.com to https://keyman.com" stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <add input="{HTTPS}" pattern="on" ignoreCase="true" />

                        <!-- Redirect only if on a live site - www.keyman.com -->
                        <add input="{HTTP_HOST}" pattern="^www\.keyman\.com$" ignoreCase="true" />
                    </conditions>
                    <action type="Redirect" url="https://keyman.com{REQUEST_URI}" redirectType="Permanent" appendQueryString="false" />
                </rule>

                <rule name="macosx and macos to mac" stopProcessing="true">
                    <match url="^(macosx|macos)\b(.*)$" ignoreCase="true"/>
                    <action type="Redirect" url="/mac{R:2}" redirectType="Permanent" appendQueryString="true" />
                </rule>

                <rule name="Redirect deprecated Google Plus link" stopProcessing="true">
                    <match url="^plus.*" ignoreCase="true"/>
                    <action type="Redirect" url="/" redirectType="Permanent" appendQueryString="true" />
                </rule>

                <rule name="/donate -> donate.keyman.com" stopProcessing="true">
                    <match url="^donate(/.*)?$" ignoreCase="true"/>
                    <action type="Redirect" url="https://donate.keyman.com" redirectType="Permanent" appendQueryString="false" />
                </rule>

                <!-- Keyboard search -->
                <rule name="/keyboards?q=... to /keyboards/index.php" stopProcessing="true">
                  <match url="^keyboards$" />
                  <action type="Rewrite" url="keyboards/index.php" />
                </rule>

                <rule name="/keyboards/ to /keyboards" stopProcessing="true">
                  <match url="^keyboards/$" />
                  <action type="Redirect" url="keyboards" redirectType="Permanent" appendQueryString="true" />
                </rule>

                <rule name="/keyboards/languages to /keyboards/index.php" stopProcessing="true">
                  <match url="^keyboards/languages/(.*)" />
                  <action type="Rewrite" url="keyboards/index.php?q=l:id:{R:1}" />
                </rule>

                <rule name="/keyboards/legacy to /keyboards/keyboard.php" stopProcessing="true">
                  <match url="^keyboards/legacy/(.*)" />
                  <action type="Rewrite" url="keyboards/keyboard.php?legacy={R:1}" />
                </rule>

                <rule name="/keyboards/countries to /keyboards/index.php" stopProcessing="true">
                  <match url="^keyboards/countries/(.*)" />
                  <action type="Rewrite" url="keyboards/index.php?q=c:id:{R:1}" />
                </rule>

                <rule name="/keyboards/{name}.json to /keyboards/keyboard.json.php" stopProcessing="true">
                  <match url="^keyboards/(.*)\.json$" />
                  <action type="Rewrite" url="keyboards/keyboard.json.php?id={R:1}" />
                </rule>

                <rule name="/keyboards/{name} to /keyboards/keyboard.php" stopProcessing="true">
                  <match url="^keyboards/(.*)" />
                  <action type="Rewrite" url="keyboards/keyboard.php?id={R:1}" />
                </rule>

                <rule name="/keyboard/{name} to /keyboards/..." stopProcessing="true">
                  <match url="^keyboard/(.*)$" />
                  <action type="Redirect" url="keyboards/{R:1}" />
                </rule>

                <!-- Synonym paths -->

                <rule name="/10.0 to /10 landing page" stopProcessing="true">
                    <match url="^10(\.0)\/?$" />
                    <action type="Redirect" url="10/" />
                </rule>

                <rule name="/11.0 to /11 landing page" stopProcessing="true">
                    <match url="^11(\.0)\/?$" />
                    <action type="Redirect" url="11/" />
                </rule>

                <rule name="ios" stopProcessing="true">
                  <match url="^(ios|iphone|ipad)(/(.+))?$" />
                  <action type="Redirect" url="iphone-and-ipad/{R:3}" />
                </rule>

                <!-- per-language landing pages -->
                <rule name="albanian">        <match url="^albanian(/?)$" />        <action type="Redirect" url="/keyboards/legacy/476" /></rule>
                <rule name="ancient-egyptian"><match url="^ancient-egyptian(/?)$" /><action type="Redirect" url="/keyboards/legacy/651" /></rule>
                <rule name="ancient-greek">   <match url="^ancient-greek(/?)$" />   <action type="Redirect" url="/greek" /></rule>
                <rule name="ancient-hebrew">  <match url="^ancient-hebrew(/?)$" />  <action type="Redirect" url="/keyboards/legacy/629" /></rule>
                <rule name="arabic">          <match url="^arabic(/?)$" />          <action type="Redirect" url="/keyboards/legacy/473" /></rule>
                <rule name="assamese">        <match url="^assamese(/?)$" />        <action type="Redirect" url="/keyboards/legacy/419" /></rule>
                <rule name="bengali">         <match url="^bengali(/?)$" />         <action type="Redirect" url="/keyboards/legacy/527" /></rule>
                <rule name="cherokee">        <match url="^cherokee(/?)$" />        <action type="Redirect" url="/keyboards/legacy/639" /></rule>
                <rule name="cheyenne">        <match url="^cheyenne(/?)$" />        <action type="Redirect" url="/keyboards/sil_cheyenne" /></rule>
                <rule name="dinka">           <match url="^dinka(/?)$" />           <action type="Redirect" url="/keyboards/legacy/314" /></rule>
                <rule name="dutch">           <match url="^dutch(/?)$" />           <action type="Redirect" url="/keyboards/legacy/560" /></rule>
                <rule name="farsi">           <match url="^farsi(/?)$" />           <action type="Redirect" url="/keyboards/legacy/318" /></rule>
                <rule name="hebrew">          <match url="^hebrew(/?)$" />          <action type="Redirect" url="/keyboards/legacy/518" /></rule>
                <rule name="hindi">            <match url="^hindi(/?)$" />          <action type="Redirect" url="/keyboards/legacy/529" /></rule>
                <rule name="igbo">             <match url="^igbo(/?)$" />           <action type="Redirect" url="/keyboards/legacy/379" /></rule>
                <rule name="khmer">            <match url="^khmer(/?)$" />          <action type="Redirect" url="/keyboards/khmer_angkor" /></rule>
                <rule name="lao">              <match url="^lao(/?)$" />            <action type="Redirect" url="/keyboards/legacy/472" /></rule>
                <rule name="malayalam">        <match url="^malayalam(/?)$" />      <action type="Redirect" url="/keyboards/legacy/533" /></rule>
                <rule name="maltese">          <match url="^maltese(/?)$" />        <action type="Redirect" url="/keyboards/legacy/333" /></rule>
                <rule name="marathi">          <match url="^marathi(/?)$" />        <action type="Redirect" url="/keyboards/legacy/534" /></rule>
                <rule name="mongolian">        <match url="^mongolian(/?)$" />      <action type="Redirect" url="/keyboards/legacy/558" /></rule>
                <rule name="nepali">           <match url="^nepali(/?)$" />         <action type="Redirect" url="/keyboards/legacy/561" /></rule>
                <rule name="oriya">            <match url="^oriya(/?)$" />          <action type="Redirect" url="/keyboards/legacy/535" /></rule>
                <rule name="rawang">           <match url="^rawang(/?)$" />         <action type="Redirect" url="/keyboards/legacy/414" /></rule>
                <rule name="russian">          <match url="^russian(/?)$" />        <action type="Redirect" url="/keyboards/legacy/571" /></rule>
                <rule name="serbian">          <match url="^serbian(/?)$" />        <action type="Redirect" url="/keyboards/legacy/611" /></rule>
                <rule name="sindhi">           <match url="^sindhi(/?)$" />         <action type="Redirect" url="/keyboards/legacy/336" /></rule>
                <rule name="thai">             <match url="^thai(/?)$" />           <action type="Redirect" url="/keyboards/legacy/430" /></rule>
                <rule name="yiddish">          <match url="^yiddish(/?)$" />        <action type="Redirect" url="/keyboards/legacy/371" /></rule>
                <rule name="yoruba">           <match url="^yoruba(/?)$" />         <action type="Redirect" url="/keyboards/legacy/656" /></rule>

                <rule name="eurolatin">        <match url="^(french|german|italian|spanish|swedish)(/?)$" />      <action type="Redirect" url="/eurolatin" /></rule>

                <!-- Masking of PHP filename suffix -->
                <rule name="Ignore .php extension">
                  <match url="^(.+)\.php$" />
                  <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                    <add matchType="IsFile" />
                  </conditions>
                  <action type="Redirect" url="{R:1}" />
                </rule>

                <rule name="Redirect index or index.php" stopProcessing="true">
                  <match url="((.+)/)?index(\.php)?$" />
                  <action type="Redirect" url="{R:1}" />
                </rule>

                <rule name="Ignore folders" stopProcessing="true">
                  <match url="^(.+)/$" />
                  <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                  <action type="Rewrite" url="{R:1}/index.php" />
                </rule>

                <rule name="Is a folder" stopProcessing="true">
                  <match url="^(.+)$" />
                  <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                    <add matchType="IsDirectory" />
                  </conditions>
                  <action type="Redirect" url="{R:1}/" />
                </rule>

                <rule name="Add .php extension">
                  <match url="^(.+)$" />
                  <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                    <add matchType="IsFile" negate="True" />
                  </conditions>
                  <action type="Rewrite" url="{R:1}.php" />
                </rule>
              </rules>


            <outboundRules>
                <rule name="Add Strict-Transport-Security when HTTPS" enabled="true">
                    <match serverVariable="RESPONSE_Strict_Transport_Security"
                        pattern=".*" />
                    <conditions>
                        <add input="{HTTPS}" pattern="on" ignoreCase="true" />
                    </conditions>
                    <action type="Rewrite" value="max-age=31536000" />
                </rule>
            </outboundRules>
        </rewrite>
    </system.webServer>
</configuration>
