<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <urlCompression doDynamicCompression="true" />
        <staticContent>
            <remove fileExtension=".json" />
            <mimeMap fileExtension=".json" mimeType="application/json; charset=utf-8" />
        </staticContent>

        <rewrite>
            <rules>
                <clear />

                <rule name="Redirect http:// and http://www. to https://" stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <add input="{HTTPS}" pattern="off" ignoreCase="true" />

                        <!-- Redirect only if on a public site - [www.]keyman[-staging].com -->
                        <add input="{HTTP_HOST}" pattern="^((www\.)?keyman(-staging)?\.com)$" ignoreCase="true" />

                        <!-- Redirect unless matching /.well-known/ for Let's Encrypt -->
                        <add input="{REQUEST_URI}" pattern="^/.well-known/(.*)$" negate="true" ignoreCase="true" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" appendQueryString="true" />
                </rule>

                <rule name="Redirect https://www to https://" stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <add input="{HTTPS}" pattern="on" ignoreCase="true" />

                        <!-- Redirect only if on a live site - www.keyman[-staging].com -->
                        <add input="{HTTP_HOST}" pattern="^www\.(keyman(-staging)?\.com)$" ignoreCase="true" />
                    </conditions>
                    <action type="Redirect" url="https://{C:1}{REQUEST_URI}" redirectType="Permanent" appendQueryString="true" />
                </rule>

                <rule name="macosx and macos to mac" stopProcessing="true">
                    <match url="^(macosx|macos)\b(.*)$" ignoreCase="true"/>
                    <action type="Redirect" url="/mac{R:2}" redirectType="Permanent" appendQueryString="true" />
                </rule>

                <rule name="Redirect deprecated Google Plus link" stopProcessing="true">
                    <match url="^plus.*" ignoreCase="true"/>
                    <action type="Redirect" url="/" redirectType="Permanent" appendQueryString="true" />
                </rule>

                <rule name="/donate -> donate.keyman.com" stopProcessing="true">
                    <match url="^donate(/.*)?$" ignoreCase="true"/>
                    <action type="Redirect" url="https://donate.keyman.com" redirectType="Permanent" appendQueryString="false" />
                </rule>

                <rule name="/privacy -> SIL Privacy policy" stopProcessing="true">
                    <match url="^privacy(/.*)?$" ignoreCase="true"/>
                    <action type="Redirect" url="https://software.sil.org/language-software-privacy-policy/" redirectType="Permanent" appendQueryString="false" />"
                </rule>

                <rule name="desktop to windows" stopProcessing="true">
                  <match url="^desktop(/.*)?$" ignoreCase="true" />
                  <action type="Redirect" url="/windows{R:1}" redirectType="Permanent" appendQueryString="true" />
                </rule>

                <!--
                  *
                  * Keyboard landing pages
                  *
                -->

                <!-- Cleanup various URLS with permanent redirects -->

                <rule name="/keyboards/{install|download|share}/{id}/ to /keyboards/x/id" stopProcessing="true">
                  <!-- remove final / -->
                  <match url="^keyboards/(install|download|share)/([^/]+)/$" />
                  <action type="Redirect" url="keyboards/{R:1}/{R:2}" redirectType="Permanent" appendQueryString="true" />
                </rule>

                <rule name="/keyboards/{id}/ to /keyboards/id" stopProcessing="true">
                  <!-- remove final / -->
                  <match url="^keyboards/([^/]+)/$" />
                  <action type="Redirect" redirectType="Permanent" url="keyboards/{R:1}" appendQueryString="true" />
                </rule>

                <rule name="/keyboards/ to /keyboards" stopProcessing="true">
                  <!-- remove final / -->
                  <match url="^keyboards/$" />
                  <action type="Redirect" url="keyboards" redirectType="Permanent" appendQueryString="true" />
                </rule>


                <rule name="/keyboards/{id}/share[/] to /keyboards/share/id" stopProcessing="true">
                  <!-- Old share url, now with /keyboards/share/{id} instead -->
                  <match url="^keyboards/([^/]+)/share(/?)$" />
                  <conditions>
                    <add input="{PATH_INFO}" matchType="Pattern" pattern="^/keyboards/(install|download|share)/share(/?)$" negate="true" />
                  </conditions>
                  <action type="Redirect" url="keyboards/share/{R:1}" />
                </rule>

                <rule name="/keyboard/{content} to /keyboards/..." stopProcessing="true">
                  <!-- keyboard/... instead of keyboards/... -->
                  <match url="^keyboard(/.*)$" />
                  <action type="Redirect" url="keyboards{R:1}" />
                </rule>

                <!-- Install | Download | Share | bare | .json -->

                <rule name="/keyboards/install/[id] to /keyboards/install.php" stopProcessing="true">
                  <match url="^keyboards/install/([^/]+)$" />
                  <action type="Rewrite" url="keyboards/install.php?id={R:1}" appendQueryString="true" />
                </rule>

                <rule name="/keyboards/download/[id] to /keyboards/keyboard.php" stopProcessing="true">
                  <!-- this formerly redirected to a download, but we no longer need it; keep it for
                       legacy links -->
                  <match url="^keyboards/download/([^/]+)$" />
                  <action type="Rewrite" url="keyboards/keyboard.php?id={R:1}" appendQueryString="true" />
                </rule>

                <rule name="/keyboards/share/[id] to /keyboards/share.php" stopProcessing="true">
                  <!-- if the keyboard exists in the repo, then share.php will redirect to /keyboards/<id> -->
                  <match url="^keyboards/share/([^/]+)$" />
                  <action type="Rewrite" url="keyboards/share.php?id={R:1}" />
                </rule>

                <rule name="/keyboards/{id}.json to /keyboards/keyboard.json.php" stopProcessing="true">
                  <match url="^keyboards/(.*)\.json$" />
                  <action type="Rewrite" url="keyboards/keyboard.json.php?id={R:1}" />
                </rule>

                <rule name="/keyboards/{id} to /keyboards/keyboard.php" stopProcessing="true">
                  <match url="^keyboards/([^/]+)$" />
                  <action type="Rewrite" url="keyboards/keyboard.php?id={R:1}" appendQueryString="true" />
                </rule>

                <!-- Search -->

                <rule name="/keyboards?q=... to /keyboards/index.php" stopProcessing="true">
                  <match url="^keyboards$" />
                  <action type="Rewrite" url="keyboards/index.php" />
                </rule>

                <rule name="/keyboards/languages to /keyboards/index.php" stopProcessing="true">
                  <match url="^keyboards/languages/(.*)" />
                  <action type="Rewrite" url="keyboards/index.php?q=l:id:{R:1}" />
                </rule>

                <rule name="/keyboards/download to /keyboards/download.php" stopProcessing="true">
                  <match url="^keyboards/download(.php)?" />
                  <action type="Rewrite" url="keyboards/download.php" appendQueryString="true" />
                </rule>

                <rule name="/keyboards/legacy to /keyboards/keyboard.php" stopProcessing="true">
                  <!-- Note: keyboard.php will perform a redirect on the basis of the legacy id to /keyboard/id -->
                  <match url="^keyboards/legacy/(.*)" />
                  <action type="Rewrite" url="keyboards/keyboard.php?legacy={R:1}" />
                </rule>

                <rule name="/keyboards/countries to /keyboards/index.php" stopProcessing="true">
                  <match url="^keyboards/countries/(.*)" />
                  <action type="Rewrite" url="keyboards/index.php?q=c:id:{R:1}" />
                </rule>

                <!-- Synonym paths -->

                <rule name="/10.0 to /10 landing page" stopProcessing="true">
                    <match url="^10(\.0)\/?$" />
                    <action type="Redirect" url="10/" />
                </rule>

                <rule name="/11.0 to /11 landing page" stopProcessing="true">
                    <match url="^11(\.0)\/?$" />
                    <action type="Redirect" url="11/" />
                </rule>

                <rule name="/12.0 to /12 landing page" stopProcessing="true">
                    <match url="^12(\.0)\/?$" />
                    <action type="Redirect" url="12/" />
                </rule>

                <rule name="/13.0 to /13 landing page" stopProcessing="true">
                    <match url="^13(\.0)\/?$" />
                    <action type="Redirect" url="13/" />
                </rule>

                <rule name="/14.0 to /14 landing page" stopProcessing="true">
                    <match url="^14(\.0)\/?$" />
                    <action type="Redirect" url="14/" />
                </rule>

                <rule name="ios" stopProcessing="true">
                  <match url="^(ios|iphone|ipad)(\/(.*))?$" />
                  <action type="Redirect" url="iphone-and-ipad/{R:3}" />
                </rule>

                <!-- Connect With Art landing page -->
                <rule name="connectwithart">
                  <match url="^connectwithart(/|$)" />
                  <action type="Redirect" url="https://sites.google.com/sil.org/connectwithart/home" />
                </rule>

                <!-- per-language landing pages -->
                <rule name="albanian">        <match url="^albanian(/?)$" />        <action type="Redirect" url="/keyboards/basic_kbdal" /></rule>
                <rule name="ancient-egyptian"><match url="^ancient-egyptian(/?)$" /><action type="Redirect" url="/keyboards/hieroglyphic" /></rule>
                <rule name="ancient-hebrew">  <match url="^ancient-hebrew(/?)$" />  <action type="Redirect" url="/keyboards/galaxie_greek_hebrew_mnemonic" /></rule>
                <rule name="arabic">          <match url="^arabic(/?)$" />          <action type="Redirect" url="/keyboards/basic_kbda1" /></rule>
                <rule name="assamese">        <match url="^assamese(/?)$" />        <action type="Redirect" url="/keyboards/isis_bangla" /></rule>
                <rule name="bengali">         <match url="^bengali(/?)$" />         <action type="Redirect" url="/keyboards/basic_kbdinbe2" /></rule>
                <rule name="cherokee">        <match url="^cherokee(/?)$" />        <action type="Redirect" url="/keyboards/cherokee6" /></rule>
                <rule name="cheyenne">        <match url="^cheyenne(/?)$" />        <action type="Redirect" url="/keyboards/sil_cheyenne" /></rule>
                <rule name="dinka">           <match url="^dinka(/?)$" />           <action type="Redirect" url="/keyboards/el_dinka" /></rule>
                <rule name="dutch">           <match url="^dutch(/?)$" />           <action type="Redirect" url="/keyboards/basic_kbdne" /></rule>
                <rule name="farsi">           <match url="^farsi(/?)$" />           <action type="Redirect" url="/keyboards/farsi_unicode" /></rule>
                <rule name="hebrew">          <match url="^hebrew(/?)$" />          <action type="Redirect" url="/keyboards/basic_kbdheb" /></rule>
                <rule name="hindi">            <match url="^hindi(/?)$" />          <action type="Redirect" url="/keyboards/basic_kbdindev" /></rule>
                <rule name="igbo">             <match url="^igbo(/?)$" />           <action type="Redirect" url="/keyboards/sil_nigeria_dot" /></rule>
                <rule name="khmer">            <match url="^khmer(/?)$" />          <action type="Redirect" url="/keyboards/khmer_angkor" /></rule>
                <rule name="lao">              <match url="^lao(/?)$" />            <action type="Redirect" url="/keyboards/basic_kbdlao" /></rule>
                <rule name="malayalam">        <match url="^malayalam(/?)$" />      <action type="Redirect" url="/keyboards/basic_kbdinmal" /></rule>
                <rule name="maltese">          <match url="^maltese(/?)$" />        <action type="Redirect" url="/keyboards/maltese" /></rule>
                <rule name="marathi">          <match url="^marathi(/?)$" />        <action type="Redirect" url="/keyboards/basic_kbdinmar" /></rule>
                <rule name="mongolian">        <match url="^mongolian(/?)$" />      <action type="Redirect" url="/keyboards/basic_kbdmon" /></rule>
                <rule name="nepali">           <match url="^nepali(/?)$" />         <action type="Redirect" url="/keyboards/basic_kbdnepr" /></rule>
                <rule name="oriya">            <match url="^oriya(/?)$" />          <action type="Redirect" url="/keyboards/basic_kbdinori" /></rule>
                <rule name="rawang">           <match url="^rawang(/?)$" />         <action type="Redirect" url="/keyboards/rawang" /></rule>
                <rule name="russian">          <match url="^russian(/?)$" />        <action type="Redirect" url="/keyboards/basic_kbdru" /></rule>
                <rule name="serbian">          <match url="^serbian(/?)$" />        <action type="Redirect" url="/keyboards/basic_kbdycc" /></rule>
                <rule name="sindhi">           <match url="^sindhi(/?)$" />         <action type="Redirect" url="/keyboards/mbsindhi" /></rule>
                <rule name="thai">             <match url="^thai(/?)$" />           <action type="Redirect" url="/keyboards/thai-uni" /></rule>
                <rule name="yiddish">          <match url="^yiddish(/?)$" />        <action type="Redirect" url="/keyboards/yiddish_pasekh" /></rule>
                <rule name="yoruba">           <match url="^yoruba(/?)$" />         <action type="Redirect" url="/keyboards/yoruba8" /></rule>

                <rule name="ancient-greek">   <match url="^ancient-greek(/?)$" />   <action type="Redirect" url="/keyboards/h/greek" /></rule>
                <rule name="eurolatin">        <match url="^(french|german|italian|spanish|swedish)(/?)$" />      <action type="Redirect" url="/keyboards/h/eurolatin" /></rule>

                <rule name="dedicated-keyboard-landing-pages">
                  <match url="^(amharic|burmese|cameroon|ethiopic|eurolatin|greek|ipa|sinhala|tamil|tibetan|tigrigna|urdu)(/.*)?$" />
                  <action type="Redirect" url="/keyboards/h/{R:1}{R:2}" redirectType="Permanent" />
                </rule>

                <!-- PHP and Markdown rewriting -->

                <rule name="Remove index or index.php and redirect" stopProcessing="true">
                  <match url="^((.+)/)?index(\.php)?$" />
                  <action type="Redirect" url="{R:1}" />
                </rule>

                <rule name="Remove .php extension and redirect" stopProcessing="true">
                  <match url="^(.+)\.php$" />
                  <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                    <add matchType="IsFile" />
                  </conditions>
                  <action type="Redirect" url="{R:1}" />
                </rule>

                <rule name="Redirect folder without / to include /" stopProcessing="true">
                  <match url="^(.+[^/])$" />
                  <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                    <add matchType="IsDirectory" />
                    <add matchType="IsFile" negate="true" input="{DOCUMENT_ROOT}/{R:1}.php" />
                    <add matchType="IsFile" negate="true" input="{DOCUMENT_ROOT}/{R:1}.md" />
                  </conditions>
                  <action type="Redirect" url="{R:1}/" />
                </rule>

                <!-- PHP rewriting -->

                <rule name="Rewrite file to file.md" stopProcessing="true">
                  <match url="^(.+)$" />
                  <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                    <add matchType="IsFile" input="{DOCUMENT_ROOT}/{R:1}.md" />
                  </conditions>
                  <action type="Rewrite" url="/_includes/includes/md/mdhost.php?file={R:1}.md" />
                </rule>

                <rule name="Rewrite file to file.php" stopProcessing="true">
                  <match url="^(.+)$" />
                  <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                    <add matchType="IsFile" input="{DOCUMENT_ROOT}/{R:1}.php" />
                    <add matchType="IsFile" negate="true" input="{DOCUMENT_ROOT}/{R:1}.md" />
                  </conditions>
                  <action type="Rewrite" url="{R:1}.php" />
                </rule>

                <rule name="Rewrite folder/ to folder/index.md" stopProcessing="true">
                  <match url="^(.+)/$" />
                  <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                    <add matchType="IsFile" input="{DOCUMENT_ROOT}/{R:1}/index.md" />
                  </conditions>
                  <action type="Rewrite" url="/_common/mdhost.php?file={R:1}/index.md" />
                </rule>

                <rule name="Rewrite folder/ to folder/index.php" stopProcessing="true">
                  <match url="^(.+)/$" />
                  <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                    <add matchType="IsFile" input="{DOCUMENT_ROOT}/{R:1}/index.php" />
                    <add matchType="IsFile" negate="true" input="{DOCUMENT_ROOT}/{R:1}/index.md" />
                  </conditions>
                  <action type="Rewrite" url="{R:1}/index.php" />
                </rule>
              </rules>


            <outboundRules>
                <rule name="Add Strict-Transport-Security when HTTPS" enabled="true">
                    <match serverVariable="RESPONSE_Strict_Transport_Security"
                        pattern=".*" />
                    <conditions>
                        <add input="{HTTPS}" pattern="on" ignoreCase="true" />
                    </conditions>
                    <action type="Rewrite" value="max-age=31536000" />
                </rule>
            </outboundRules>
        </rewrite>
    </system.webServer>
</configuration>
