<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <clear />

                <rule name="/go/linux/13.0/download-keyboards" stopProcessing="true">
                    <match url="^download-keyboards" />
                    <action type="Redirect" url="/keyboards?embed=linux" />
                </rule>

                <rule name="/go/linux/13.0/forums" stopProcessing="true">
                    <match url="^forums" />
                    <action type="Redirect" url="https://community.software.sil.org/c/keyman" />
                </rule>

                <rule name="/go/linux/13.0/support" stopProcessing="true">
                    <match url="^support" />
                    <action type="Redirect" url="/support" />
                </rule>

                <rule name="/go/linux/13.0/privacy" stopProcessing="true">
                    <match url="^privacy" />
                    <action type="Redirect" url="/privacy" />
                </rule>

                <!-- permanent link to screenshot of linux-configuration -->
                <rule name="/go/linux/13.0/linux-configuration.png" stopProcessing="true">
                    <match url="^linux-configuration.png" />
                    <action type="Rewrite" url="/cdn/dev/img/linux-configuration.png" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
