
# releases-tier/download"
# note: the tier is currently ignored
RedirectMatch "/downloads/releases/(alpha|beta|stable)/(.+)$" "/downloads/releases/_version_downloads.php?tier=$1&version=$2"

# "releases-download"
RedirectMatch "/downloads/releases/(?!_version_downloads.php)(.+)$" "/downloads/releases/_version_downloads.php?version=$1"

# index"
RedirectMatch "/downloads/releases$" "/downloads/"
