<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <clear />

                <rule name="releases-tier/download" stopProcessing="true">
                  <!-- note: the tier is currently ignored -->
                  <match url="^(alpha|beta|stable)/(.+)$" />
                  <action type="Rewrite" url="_version_downloads.php?tier={R:1}&amp;version={R:2}" />
                </rule>

                <rule name="releases-download" stopProcessing="true">
                  <match url="^(.+)$" />
                  <action type="Rewrite" url="_version_downloads.php?version={R:1}" />
                </rule>

                <rule name="index" stopProcessing="true">
                  <match url="^$" />
                  <action type="Redirect" url=".." />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
