#section2 h2:first-child {
  margin-top: 0;
  padding-top: 4px;
  text-align: left;
}

#search-results .keyboard .title {
    margin-top: 24px;
}
#search-results .title {
  margin-top: 2px;
}

#navigation {
  border-bottom: solid 1px #666666;
  background: #cccccc;
  padding: 4px;
}

#navigation a {
  display: inline-block;
  border: solid 1px #888888;
  padding: 4px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.6);
  background: #888888;
  text-decoration: none;
  color: white;
  margin: 4px;
}

#navigation a.nav-right {
  display: block;
  float: right;
}

.wrapper {
  width: auto;
}
