/* These controls are only for embedded pages */

#section2 h1 {
  padding-top: 6px;
  padding-bottom: 0;
  font-size: 24px;
}

#search-box {
  margin-bottom: 12px;
}

#section2 h2 {
  margin-top: 0;
  padding-top: 4px;
  padding-left: 0;
  text-align: left;
  font-size: 24px;
}

.wrapper {
  width: auto;
}

#section2 .col {
  float: none;
}