/* List entries */

ol {
  list-style-type: decimal;
}

#section2 ol li {
  list-style-type: decimal;
  margin-left: 64px;
  font-size: 16pt;
}

ol li a {
  font-size: 16pt;
}

#step2 div {
  margin-left: 30px;
}
