/* List entries */

ol {
  list-style-type: decimal;
}

#section2 ol li {
  list-style-type: decimal;
  margin-left: 64px;
  font-size: 16pt;
}

#section2 a.download-link {
  padding-top: 6px;
  height: 40px;
}

ol li a {
  font-size: 16pt;
}

#step2 div {
  margin: 0 0 0 20px;
  line-height: 1.6em;
}

.download.download-linux[keyman-installed='true'] div#keyman-installed,
.download.download-linux[keyman-installed='false'] div:not(#keyman-installed) {
  display: block;
}

.download.download-linux[keyman-installed='false'] div#keyman-installed,
.download.download-linux[keyman-installed='true'] div:not(#keyman-installed) {
  display: none;
}

html .download a.download-link {
  margin: 0;
  display: inline-block;
  float: none;
  vertical-align: top;
}

html .download a.download-link span {
  display: inline-block;
  vertical-align: top;
  line-height: 1em;
  margin-top: 0.33em;
}

@media only screen and (max-width: 640px) {
  #section2 ol li {
    margin-left: 0;
    font-size: 24pt;
  }

  /* Make the link text slightly smaller to fit longer string */
  html .download a.download-link {
    margin-left: 8px;
    font-size: 15pt;
  }

  .download div.download-description {
    margin: 8px 0 8px 10px;
  }
}