/*
 Search box
*/

h2 a {
  color: #B92034;
  text-decoration: none;
}

#section2 h1,
#section2 h2,
#section2 h3,
#section2 h4 {
  text-align: left;
}

#deprecated-old {
  display: none;
}

#section2 p.deprecated-link a {
  font-size: 12pt;
  color: #666666;
}

.deprecated {
  display: block;
  color: #220000;
  text-decoration: none;
  background: #ff8888;
  padding: 16px;
  /* border: solid 1px #880000; */
  border-radius: 4px;
  margin: 8px;
  font-size: 18px;
  box-shadow: 4px 4px 4px rgba(66,66,66,0.5);
}

.deprecated span {
  font-weight: bold;
}

.deprecated:hover {
  background: #ffaaaa;
}

#search-box {
  padding: 10px;
  background: white;
  border-top: solid 1px #666666;
  border-bottom: solid 1px #666666;
  min-height: 54px;
  box-sizing: border-box;
}

#search-box #search-title {
  float: left;
  vertical-align: baseline;
  height: 32px;
  padding-top: 8px;
  box-sizing: border-box;
  padding-right: 8px;
  font-weight: bold;
}

#search-title a {
  text-decoration: none;
  color: #B92034;
}

#search-box #search-q {
  float: left;

  width: 300px;
  height: 28px;
  border-radius: 0px;
  border: solid 1px gray;
  padding-left: 10px;
  font-family: Cabin, sans-serif;
  font-size: 16px;
}

#search-box label {
  float: left;
  height: 32px;
  display: block;
  padding: 8px 8px 0 0;
  box-sizing: border-box;
}

#search-box label#search-new {
  float: right;
}

#search-box #search-f {
  float: left;
  position: relative;
  left: -1px;
}

#search-results {
  clear: both;
  padding: 10px;
}

.searching#search-box #search-q {
  background: url(/cdn/dev/img/spinner.gif) no-repeat white;
  background-position:  right 2px top 2px;
}

#section2 #search-results h3 {
  padding: 16px 0 4px 0;
}

#section2 #search-results .platforms img {
  margin: 10px 8px 0 0;
}

#search-results .keyboard {
  margin-top: 16px;
}

#search-results .title {
  padding: 0 8px 2px;
  font-size: 13pt;
}

#search-results .title a {
  text-decoration: none;
}

#search-results .title a:hover {
  text-decoration: underline;
}

#search-results .description,
#search-results .platforms,
#search-results .encoding {
  padding-left: 28px;
}

#search-results .description {
  margin-top: 4px;
}

#search-results .encoding {
  color: red;
}

#search-results .keyboards-deprecated h4 {
  margin-top: 24px;
  margin-left: 8px;
  font-weight: 600;
  font-size: 14pt;
}

#search-results .keyboards-deprecated .keyboard .title::after {
  content: " (obsolete)";
  color: red;
}

#search-results .keyboard .title a {
  background-image: url(/cdn/dev/keyboard-search/icon-keyman-20.png);
  background-repeat: no-repeat;
  background-position: 0px 4px;
  padding-left: 28px;
}

#search-results .title .match {
  padding-left: 6px;
  font-size: 16px;
}


#search-results .keyboard .detail {
  padding: 0 8px;
}

#search-results .keyboard.keyboardLandingPage {
  border: solid 1px #444444;
  border-radius: 6px;
  background: white;
  padding: 8px 0;
}

#search-results .keyboard .id {
  color: #006622;
  padding: 2px 0 2px 28px;
}

#search-results .keyboard .downloads {
  color:  grey;
  font-size: 0.75em;
  padding: 0px 0 2px 28px;
}

#search-results .keyboard table {
  clear: right;
}

#search-results .pager {
  margin-top: 1em;
  padding-top: 1em;
  border-top: solid 1px #B92034;
}

#search-results .statistics {
  margin: 8px 0 0 8px;
  font-size: 13px;
  color: #444444;
}

#search-results .pager a,
#search-results .pager span {
  padding: 0 4px;
}

/* Keyboard details */

#keyboard-details th {
  text-align: left;
  padding: 4px 24px 4px 0;
  color: #666699;
  white-space: nowrap;
}

#keyboard-details td {
  text-align: left;
  padding: 4px 64px 4px 0;
}

#keyboard-details {
  margin: 0 0 0 10px;
}

#keyboard-details-col {
  margin: 8px 0 32px 0;
}

#keyboard-details-col .col {
  float: left;
  max-width: 50%;
  box-sizing: border-box;
}

#keyboard-details .links div {
  margin-bottom: 6px;
  line-height: 1.2em;
}

#keyboard-details .supported-languages {
  font-size: 0.8em;
  line-height: 1.4em;
}

#keyboard-details .supported-languages a {
  margin-right: 8px;
  white-space: nowrap;
}

#keyboard-details .supported-languages #expand-languages,
#keyboard-details .supported-languages #collapse-languages {
  color: #B92034;
}

#keyboard-details .supported-languages .expand-languages,
#keyboard-details .supported-languages #collapse-languages,
#keyboard-details .supported-languages #expand-languages:target {
  display: none;
}

#keyboard-details .supported-languages #expand-languages:target ~ .expand-languages,
#keyboard-details .supported-languages #expand-languages:target + #collapse-languages {
  display: inline;
}

.clear-left {
  clear: left;
}

@media only screen and (max-width: 640px) {
  #search-box label[for=search-q] {
    display: none;
  }

  html #search-box #search-q {
    width: 120px;
  }

  /* Responsive display of table data on mobile */

  #keyboard-details-col .col {
    float: none;
    max-width: unset;
  }

  table#keyboard-details,
  table#keyboard-details thead,
  table#keyboard-details tbody,
  table#keyboard-details th,
  table#keyboard-details td,
  table#keyboard-details tr {
    display: block;
  }
}

/* Permanent link to keyboards, at bottom of page */

p#permalink {
  font-size: 8pt;
}

/* Download boxes */

.download {
  margin: 0px 0px 16px 16px;
}

@media only screen and (max-width: 640px) {
  /* Download box on phones */
  .download {
    margin: 0;
  }
}

.download .download-title {
  font-weight: bold;
  font-size: 14pt;
  margin: 0 0 4px;
}

.download .download-description,
.download .download-filename {
  color: #666666;
  font-size: 11pt;
  margin: 4px 0 2px;
}

.download a.download-link {
  margin-top: 4px;
  padding: 12px 30px 0 4px;
  color: white;
  background-image: url(/cdn/dev/keyboard-search/install-blank.png);
  width: 202px;
  height: 34px;
  display: inline-block;
  text-decoration: none;
  font-size: 16pt;
  text-align: center;
}

.download.download-web a.download-link {
  background-image: url(/cdn/dev/keyboard-search/link-blank.png);
}

/*.platforms span + span::before {
  content: ", ";
}*/

.platforms span {
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: top left;
  padding-left: 24px;
  display: block;
  margin: 4px 0;
}

.platform-android {
  background-image: url("/cdn/dev/keyboard-search/icon-android.png");
}

.platform-ios {
  background-image: url("/cdn/dev/keyboard-search/icon-ios.png");
}

.platform-linux {
  background-image: url("/cdn/dev/keyboard-search/icon-linux.png");
}

.platform-macos {
  background-image: url("/cdn/dev/keyboard-search/icon-macos.png");
}

.platform-desktopWeb {
  background-image: url("/cdn/dev/keyboard-search/icon-desktopWeb.png");
}

.platform-mobileWeb {
  background-image: url("/cdn/dev/keyboard-search/icon-mobileWeb.png");
}

.platform-windows {
  background-image: url("/cdn/dev/keyboard-search/icon-windows.png");
}

.download { display: none; }
.download.download-web {
  display: block;
}

html[data-platform='android'] .download.download-android {
  display: block;
}

html[data-platform='ios'] .download.download-ios {
  display: block;
}

html[data-platform='linux'] .download.download-linux {
  display: block;
}

html[data-platform='macos'] .download.download-macos {
  display: block;
}

html[data-platform='windows'] .download.download-windows {
  display: block;
}

html[data-platform='unknown'] .download.download-unknown {
  display: block;
}

#search-results-empty {
  display: none;
}

#section2 #search-results-empty code {
  font-family: Consolas, 'Courier New', Courier, monospace;
  background: #e0e0e0;
  border-radius: 4px;
  cursor: pointer;
}

#search-results:empty + #search-results-empty {
  display: unset;
}

/* Embedded formatting */

.embed #search-results-container .platforms,
.embed h2 {
  display: none;
}

.embed #search-results .keyboard {
  margin-top: 24px;
}
.embed #search-results .title {
margin-top: 2px;
}
