
# Links for Desktop 10.0-13.0 (for 14.0 onward, see ../windows/web.config)

# /go/desktop/13.0/download-keyboards"
RedirectMatch "/go/desktop/(7|8|9|10|11|12|13)\.0/download-keyboards" "/_legacy/keyboards/?embed=windows"


# /go/desktop/X.Y/download-keyboards"
RedirectMatch "/go/desktop/([1-9][0-9]\.[0-9])/download-keyboards" "/keyboards?embed=windows"


# /go/desktop/X.Y/keep-in-touch"
RedirectMatch "/go/desktop/([1-9][0-9]\.[0-9])/keep-in-touch" "/desktop/keepintouch-100"


# /go/desktop/X.Y/forums"
RedirectMatch "/go/desktop/([1-9][0-9]\.[0-9])/forums" "https://community.software.sil.org/c/keyman"


# /go/desktop/X.Y/issue-1285"
RedirectMatch "/go/desktop/([1-9][0-9]\.[0-9])/issue-1285" "https://blog.keyman.com/2018/11/keyman-windows-10-1803-and-amharic-tigrinya-sinhala"


# /go/desktop/X.Y/support"
RedirectMatch "/go/desktop/([1-9][0-9]\.[0-9])/support" "/support"


# /go/desktop/X.Y/create-locale"
RedirectMatch "/go/desktop/([1-9][0-9]\.[0-9])/create-locale" "https://secure.tavultesoft.com/keyman/support/locale/"


# /go/desktop/X.Y/view-exception/ to /contact/exception"
# This endpoint is not used in 14.0 or later
RedirectMatch "/go/desktop/1[0123]\.0/view-exception(/)?$" "/contact/exception.php"


# /go/desktop/X.Y/view-exception?id="
# This endpoint is not used in 14.0 or later -->
RedirectMatch "/go/desktop/1[0123]\.0/view-exception?id=(.+)$" "/contact/exception.php?id=$1"


# /go/desktop/X.Y/home"
RedirectMatch "/go/desktop/([1-9][0-9]\.[0-9])/home" "/desktop/"


# /go/desktop/X.Y/archived-downloads"
RedirectMatch "/go/desktop/([1-9][0-9]\.[0-9])/archived-downloads" "/downloads/archive"


# /go/desktop/X.Y/privacy"
RedirectMatch "/go/desktop/([1-9][0-9]\.[0-9])/privacy" "/privacy"
