<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <clear />

                <!-- Links for Desktop 10.0-13.0 (for 14.0 onward, see ../windows/web.config) -->

                <rule name="/go/desktop/13.0/download-keyboards" stopProcessing="true">
                  <match url="^(7|8|9|10|11|12|13)\.0/download-keyboards" />
                  <action type="Redirect" url="/_legacy/keyboards/?embed=windows" />
                </rule>

                <rule name="/go/desktop/X.Y/download-keyboards" stopProcessing="true">
                  <match url="^([1-9][0-9]\.[0-9])/download-keyboards" />
                  <action type="Redirect" url="/keyboards?embed=windows" />
                </rule>

                <rule name="/go/desktop/X.Y/keep-in-touch" stopProcessing="true">
                  <match url="^([1-9][0-9]\.[0-9])/keep-in-touch" />
                  <action type="Redirect" url="/desktop/keepintouch-100" />
                </rule>

                <rule name="/go/desktop/X.Y/forums" stopProcessing="true">
                  <match url="^([1-9][0-9]\.[0-9])/forums" />
                  <action type="Redirect" url="https://community.software.sil.org/c/keyman" />
                </rule>

                <rule name="/go/desktop/X.Y/issue-1285" stopProcessing="true">
                  <match url="^([1-9][0-9]\.[0-9])/issue-1285" />
                  <action type="Redirect" url="https://blog.keyman.com/2018/11/keyman-windows-10-1803-and-amharic-tigrinya-sinhala" />
                </rule>

                <rule name="/go/desktop/X.Y/support" stopProcessing="true">
                  <match url="^([1-9][0-9]\.[0-9])/support" />
                  <action type="Redirect" url="/support" />
                </rule>

                <rule name="/go/desktop/X.Y/create-locale" stopProcessing="true">
                  <match url="^([1-9][0-9]\.[0-9])/create-locale" />
                  <action type="Redirect" url="https://secure.tavultesoft.com/keyman/support/locale/" />
                </rule>

                <rule name="/go/desktop/X.Y/view-exception/ to /contact/exception" stopProcessing="true">
                  <!-- This endpoint is not used in 14.0 or later -->
                  <match url="^1[0123]\.0/view-exception(/)?$" />
                  <action type="Redirect" url="/contact/exception.php" redirectType="Permanent" appendQueryString="true" />
                </rule>

                <rule name="/go/desktop/X.Y/view-exception?id=" stopProcessing="true">
                  <!-- This endpoint is not used in 14.0 or later -->
                  <match url="^1[0123]\.0/view-exception?id=(.+)$" />
                  <action type="Redirect" url="/contact/exception.php?id={R:1}" />
                </rule>

                <rule name="/go/desktop/X.Y/home" stopProcessing="true">
                  <match url="^([1-9][0-9]\.[0-9])/home" />
                  <action type="Redirect" url="/desktop/" />
                </rule>

                <rule name="/go/desktop/X.Y/archived-downloads" stopProcessing="true">
                  <match url="^([1-9][0-9]\.[0-9])/archived-downloads" />
                  <action type="Redirect" url="/downloads/archive" />
                </rule>

                <rule name="/go/desktop/X.Y/privacy" stopProcessing="true">
                  <match url="^([1-9][0-9]\.[0-9])/privacy" />
                  <action type="Redirect" url="/privacy" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
