<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <clear />

                <!-- Links for Desktop 10.0 onward -->

                <rule name="/go/desktop/X.0/download-keyboards" stopProcessing="true">
                  <match url="^(10|11|12|13)\.0/download-keyboards" />
                  <action type="Redirect" url="/keyboards?embed=windows" />
                </rule>
                
                <rule name="/go/desktop/X.0/keep-in-touch" stopProcessing="true">
                  <match url="^(10|11|12|13)\.0/keep-in-touch" />
                  <action type="Redirect" url="https://secure.tavultesoft.com/prog/90/keepintouch/" />
                </rule>
                
                <rule name="/go/desktop/X.0/forums" stopProcessing="true">
                  <match url="^(10|11|12|13)\.0/forums" />
                  <action type="Redirect" url="https://community.software.sil.org/c/keyman" />
                </rule>
                
                <rule name="/go/desktop/X.0/issue-1285" stopProcessing="true">
                  <match url="^(10|11|12|13)\.0/issue-1285" />
                  <action type="Redirect" url="https://blog.keyman.com/2018/11/keyman-windows-10-1803-and-amharic-tigrinya-sinhala" />
                </rule>

                <rule name="/go/desktop/X.0/support" stopProcessing="true">
                  <match url="^(10|11|12|13)\.0/support" />
                  <action type="Redirect" url="/support" />
                </rule>
                
                <rule name="/go/desktop/X.0/create-locale" stopProcessing="true">
                  <match url="^(10|11|12|13)\.0/create-locale" />
                  <action type="Redirect" url="https://secure.tavultesoft.com/keyman/support/locale/" />
                </rule>

                <rule name="/go/desktop/X.0/view-exception/ to /contact/exception" stopProcessing="true">
                  <match url="^(10|11|12|13)\.0/view-exception(/)?$" />
                  <action type="Redirect" url="/contact/exception.php" redirectType="Permanent" appendQueryString="true" />
                </rule>

                <rule name="/go/desktop/X.0/view-exception?id=" stopProcessing="true">
                  <match url="^(10|11|12|13)\.0/view-exception?id=(.+)$" />
                  <action type="Redirect" url="/contact/exception.php?id={R:2}" />
                </rule>
                
                <rule name="/go/desktop/X.0/home" stopProcessing="true">
                  <match url="^(10|11|12|13)\.0/home" />
                  <action type="Redirect" url="/desktop/" />
                </rule>
                
                <rule name="/go/desktop/X.0/archived-downloads" stopProcessing="true">
                  <match url="^(10|11|12|13)\.0/archived-downloads" />
                  <action type="Redirect" url="/downloads/archive" />
                </rule>

                <rule name="/go/desktop/X.0/privacy" stopProcessing="true">
                  <match url="^(10|11|12|13)\.0/privacy" />
                  <action type="Redirect" url="/privacy" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
