<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <clear />

                <!-- Redirects for Keyman for Linux 11.0 onward -->

                <rule name="/go/linux/X.Y/download-keyboards" stopProcessing="true">
                    <match url="^([1-9][0-9]\.[0-9])/download-keyboards" />
                    <action type="Redirect" url="/keyboards?embed=linux" />
                </rule>

                <rule name="/go/linux/X.Y/forums" stopProcessing="true">
                    <match url="^([1-9][0-9]\.[0-9])/forums" />
                    <action type="Redirect" url="https://community.software.sil.org/c/keyman" />
                </rule>

                <rule name="/go/linux/X.Y/support" stopProcessing="true">
                    <match url="^([1-9][0-9]\.[0-9])/support" />
                    <action type="Redirect" url="/support" />
                </rule>

                <rule name="/go/linux/X.Y/privacy" stopProcessing="true">
                    <match url="^([1-9][0-9]\.[0-9])/privacy" />
                    <action type="Redirect" url="/privacy" />
                </rule>

                <!-- permanent link to screenshot of linux-configuration -->
                <rule name="/go/linux/X.Y/linux-configuration.png" stopProcessing="true">
                    <match url="^([1-9][0-9]\.[0-9])/linux-configuration.png" />
                    <action type="Rewrite" url="/cdn/dev/img/linux-configuration.png" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
