<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <clear />

                <!-- Links for Keyman for Windows 14.0 onward -->

                <rule name="/go/windows/X.Y/download-keyboards" stopProcessing="true">
                  <match url="^([1-9][0-9]\.[0-9])/download-keyboards" />
                  <action type="Redirect" url="/keyboards?embed=windows" />
                </rule>

                <rule name="/go/windows/X.Y/keep-in-touch" stopProcessing="true">
                  <match url="^([1-9][0-9]\.[0-9])/keep-in-touch" />
                  <action type="Redirect" url="/windows/keepintouch-140" />
                </rule>

                <rule name="/go/windows/X.Y/issue-1285" stopProcessing="true">
                  <match url="^([1-9][0-9]\.[0-9])/issue-1285" />
                  <action type="Redirect" url="https://blog.keyman.com/2018/11/keyman-windows-10-1803-and-amharic-tigrinya-sinhala" />
                </rule>

                <rule name="/go/windows/X.Y/create-locale" stopProcessing="true">
                  <match url="^([1-9][0-9]\.[0-9])/create-locale" />
                  <action type="Redirect" url="https://translate.keyman.com/" />
                </rule>

                <rule name="/go/windows/X.Y/home" stopProcessing="true">
                  <match url="^([1-9][0-9]\.[0-9])/home" />
                  <action type="Redirect" url="/windows/" />
                </rule>

                <rule name="/go/windows/X.Y/archived-downloads" stopProcessing="true">
                  <match url="^([1-9][0-9]\.[0-9])/archived-downloads" />
                  <action type="Redirect" url="/downloads/archive" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
