
# Links for Developer 10.0 onward

# "/go/developer/X.Y/help-keyboards"
RewriteRule "^([1-9][0-9]\.[0-9])/help-keyboards" "https://help.keyman.com/developer/keyboards/" [R,QSA]


# Direct help to the major version
# "/go/developer/X.Y/help-(mobile|packages)"
RewriteRule "^([1-9][0-9])\.([0-9])/help-(mobile|packages)" "https://help.keyman.com/developer/$1.0/guides/distribute/packages" [R,QSA]

# "/go/developer/X.Y/keymanweb"
RewriteRule "^([1-9][0-9]\.[0-9])/keymanweb" "/developer/keymanweb/" [R,QSA]

# "/go/developer/X.Y/keyman-engine-home"
RewriteRule "^([1-9][0-9]\.[0-9])/keyman-engine-home" "/engine/" [R,QSA]


# "/go/developer/X.Y/language-lookup"
RewriteRule "^([1-9][0-9]\.[0-9])/language-lookup" "https://www.ethnologue.com/" [R=301,QSA]


# "/go/developer/X.Y/view-exception/ to /contact/exception"
RewriteRule "^([1-9][0-9]\.[0-9])/view-exception(/)?$" "/contact/exception.php" [R=301,QSA]


# "/go/developer/X.Y/view-exception?id="
RewriteRule "^([1-9][0-9]\.[0-9])/view-exception?id=(.+)$" "/contact/exception.php?id=$2" [R,QSA]


# Context-sensitive help in Keyman Developer

# "/go/developer/X.Y/docs/language" <!-- kmn language redirect -->
RewriteRule "^([1-9][0-9]\.[0-9])/docs/language(\/?(.*))" "https://help.keyman.com/developer/language/$3" [R,QSA]


# All other context help, direct to the major version
# "/go/developer/X.Y/docs"
RewriteRule "^([1-9][0-9])\.[0-9]/docs(\/?(.*))" "https://help.keyman.com/developer/$1.0/$3" [R,QSA]


# "/go/developer/X.Y/home"
RewriteRule "^([1-9][0-9]\.[0-9])/home" "/developer/" [R,QSA]


# "/go/developer/X.Y/ios-app"
# see includes/appstore.php
RewriteRule "^([1-9][0-9]\.[0-9])/ios-app" "https://itunes.apple.com/us/app/keyman/id933676545?ls=1&mt=8" [R,QSA]


# "/go/developer/X.Y/android-app"
# see includes/playstore.php
RewriteRule "^([1-9][0-9]\.[0-9])/android-app" "https://play.google.com/store/apps/details?id=com.tavultesoft.kmapro" [R,QSA]



# "/go/developer/X.Y/clone-keyboard" stopProcessing="true">
RewriteRule "^([1-9][0-9]\.[0-9])/clone-keyboard" "/keyboards?embed=developer" [R,QSA]
