<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <clear />

                <!-- Links for Developer 10.0 onward -->

                <rule name="/go/developer/X.Y/help-keyboards" stopProcessing="true">
                  <match url="^([1-9][0-9]\.[0-9])/help-keyboards" />
                  <action type="Redirect" url="https://help.keyman.com/developer/keyboards/" />
                </rule>

                <!-- Direct help to the major version -->
                <rule name="/go/developer/X.Y/help-(mobile|packages)" stopProcessing="true">
                  <match url="^([1-9][0-9])\.([0-9])/help-(mobile|packages)" />
                  <action type="Redirect" url="https://help.keyman.com/developer/{R:1}.0/guides/distribute/packages" />
                </rule>

                <rule name="/go/developer/X.Y/keymanweb" stopProcessing="true">
                  <match url="^([1-9][0-9]\.[0-9])/keymanweb" />
                  <action type="Redirect" url="/developer/keymanweb/" />
                </rule>

                <rule name="/go/developer/X.Y/keyman-engine-home" stopProcessing="true">
                  <match url="^([1-9][0-9]\.[0-9])/keyman-engine-home" />
                  <action type="Redirect" url="/engine/" />
                </rule>
                
                <rule name="/go/developer/X.Y/language-lookup" stopProcessing="true">
                  <match url="^([1-9][0-9]\.[0-9])/language-lookup" />
                  <action type="Redirect" url="https://www.ethnologue.com/" />
                </rule>

                <rule name="/go/developer/X.Y/view-exception/ to /contact/exception" stopProcessing="true">
                  <match url="^([1-9][0-9]\.[0-9])/view-exception(/)?$" />
                  <action type="Redirect" url="/contact/exception.php" redirectType="Permanent" appendQueryString="true" />
                </rule>

                <rule name="/go/developer/X.Y/view-exception?id=" stopProcessing="true">
                  <match url="^([1-9][0-9]\.[0-9])/view-exception?id=(.+)$" />
                  <action type="Redirect" url="/contact/exception.php?id={R:2}" />
                </rule>

                <!-- Context-sensitive help in Keyman Developer -->

                <rule name="/go/developer/X.Y/docs/language" stopProcessing="true"> <!-- kmn language redirect -->
                  <match url="^([1-9][0-9]\.[0-9])/docs/language(\/?(.*))" />
                  <action type="Redirect" url="https://help.keyman.com/developer/language/{R:3}" />
                </rule>

                <!-- All other context help, direct to the major version -->
                <rule name="/go/developer/X.Y/docs" stopProcessing="true">
                  <match url="^([1-9][0-9])\.[0-9]/docs(\/?(.*))" />
                  <action type="Redirect" url="https://help.keyman.com/developer/{R:1}.0/{R:3}" />
                </rule>
                
                <!-- -->
                
                <rule name="/go/developer/X.Y/home" stopProcessing="true">
                  <match url="^([1-9][0-9]\.[0-9])/home" />
                  <action type="Redirect" url="/developer/" />
                </rule>
                
                <rule name="/go/developer/X.Y/ios-app" stopProcessing="true">
                  <!-- see includes/appstore.php -->
                  <match url="^([1-9][0-9]\.[0-9])/ios-app" />
                  <action type="Redirect" url="https://itunes.apple.com/us/app/keyman/id933676545?ls=1&amp;mt=8" />
                </rule>

                <rule name="/go/developer/X.Y/android-app" stopProcessing="true">
                  <!-- see includes/playstore.php -->
                  <match url="^([1-9][0-9]\.[0-9])/android-app" />
                  <action type="Redirect" url="https://play.google.com/store/apps/details?id=com.tavultesoft.kmapro" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
