<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>

        <rewrite>
            <rules>
                <!-- We'll clear the rules so parent rules don't take effect, to ensure there are no redirects for the sake of apple-app-site-association -->
                <clear />
                <rule name="apple-app-site-association" stopProcessing="true">
                  <match url="^apple-app-site-association$" />
                  <action type="Rewrite" url="apple-app-site-association.json" />
                </rule>
              </rules>
        </rewrite>
    </system.webServer>
</configuration>
