<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <clear />

                <rule name="why" stopProcessing="true">
                  <match url="^why\/?$" />
                  <action type="Redirect" url="https://marc.durdin.net/2018/03/the-case-for-keyman/" />
                </rule>

                <!-- Download redirects for keyboard permalinks -->

                <rule name="download-kmp" stopProcessing="true">
                    <match url="^keyboard/([^/?]+)/download/kmp$" />
                    <action type="Redirect" url="/keyboards/download?id={R:1}&amp;platform=windows&amp;mode=standalone" />
                </rule>

                <rule name="download-exe" stopProcessing="true">
                    <match url="^keyboard/([^/?]+)/download/exe$" />
                    <action type="Redirect" url="/keyboards/download?id={R:1}&amp;platform=windows&amp;mode=bundle" />
                </rule>

                <rule name="download-js" stopProcessing="true">
                    <match url="^keyboard/([^/?]+)/download/js$" />
                    <action type="Redirect" url="/keyboards/download?id={R:1}&amp;platform=web&amp;mode=standalone" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
