<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <clear />

                <rule name="why" stopProcessing="true">
                  <match url="^why\/?$" />
                  <action type="Redirect" url="https://marc.durdin.net/2018/03/the-case-for-keyman/" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
