<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="/go/developer/11.0/help-keyboards" stopProcessing="true">
                  <match url="^help-keyboards" />
                  <action type="Redirect" url="https://help.keyman.com/developer/keyboards/" />
                </rule>
                
                <rule name="/go/developer/11.0/help-(mobile|packages)" stopProcessing="true">
                  <match url="^help-(mobile|packages)" />
                  <action type="Redirect" url="https://help.keyman.com/developer/11.0/guides/distribute/packages" />
                </rule>

                <rule name="/go/developer/11.0/keymanweb" stopProcessing="true">
                  <match url="^keymanweb" />
                  <action type="Redirect" url="/developer/keymanweb/" />
                </rule>

                <rule name="/go/developer/11.0/keyman-engine-home" stopProcessing="true">
                  <match url="^keyman-engine-home" />
                  <action type="Redirect" url="/engine/" />
                </rule>
                
                <rule name="/go/developer/11.0/language-lookup" stopProcessing="true">
                  <match url="^language-lookup" />
                  <action type="Redirect" url="https://www.ethnologue.com/" />
                </rule>

                <rule name="/go/developer/11.0/view-exception/ to /contact/exception" stopProcessing="true">
                  <match url="^view-exception(/)?$" />
                  <action type="Redirect" url="/contact/exception.php" redirectType="Permanent" appendQueryString="true" />
                </rule>

                <rule name="/go/developer/11.0/view-exception?id=" stopProcessing="true">
                  <match url="^view-exception?id=(.+)$" />
                  <action type="Redirect" url="/contact/exception.php?id={R:1}" />
                </rule>

                <!-- Context-sensitive help in Keyman Developer -->

                <rule name="/go/developer/11.0/docs/language" stopProcessing="true"> <!-- kmn language redirect -->
                  <match url="^docs/language(\/?(.*))" />
                  <action type="Redirect" url="https://help.keyman.com/developer/language/{R:2}" />
                </rule>

                <rule name="/go/developer/11.0/docs" stopProcessing="true"> <!-- all other context help -->
                  <match url="^docs(\/?(.*))" />
                  <action type="Redirect" url="https://help.keyman.com/developer/11.0/{R:2}" />
                </rule>
                
                <!-- -->
                
                <rule name="/go/developer/11.0/home" stopProcessing="true">
                  <match url="^home" />
                  <action type="Redirect" url="/developer/" />
                </rule>
                
                <rule name="/go/developer/11.0/ios-app" stopProcessing="true">
                  <!-- see includes/appstore.php -->
                  <match url="^ios-app" />
                  <action type="Redirect" url="https://itunes.apple.com/us/app/keyman/id933676545?ls=1&amp;mt=8" />
                </rule>

                <rule name="/go/developer/11.0/android-app" stopProcessing="true">
                  <!-- see includes/playstore.php -->
                  <match url="^android-app" />
                  <action type="Redirect" url="https://play.google.com/store/apps/details?id=com.tavultesoft.kmapro" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
