<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <clear />
                <rule name="Redirect /android/app to help.keyman.com" stopProcessing="true">
                    <match url=".*" />
                    <action type="Redirect" url="https://help.keyman.com/products/android/" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>